AUTOMATICACION_REDES.json
{
  "name": "Jarvis template",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/17841438391323438/media",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "TgBRBqCbZCeWV2sOAmxRj5G2QbCXnLo2ZAHKeZBy8kLwRrGPEYMhA1ZC2X3ZBBLHbhXuZByoVQjSIbgL1Rs3f5VDilSXTfIMUULhjcZAZA93fgf78BO5dzMJnkyf7wF8GViE8fNLYURKeZAYe2Qkkvw9NKaFcZAPlfWNWBdDGQyZCpGEIqwvsJsqEw"
            },
            {
              "name": "media_type",
              "value": "STORIES"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"image_url\": \"{{ $json.secure_url }}\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2208,
        128
      ],
      "id": "874a2576-6208-40b6-a1de-ff06e14f906e",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/17841438391323438/media_publish",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "EAAW9WZCTA6TgBRCRROdrLsPvKnMXZBr8LN5pb6rHUV72GSz90jngTOve1geUYt8Ez74IhxqSShPF7G3ge8MPlehmDPa1QHE55mwA8mITeOhLNCyL1nV83T0OR205EyN68CswWhdeyATAMyHZCtkbu1yqJcVtkLOwt8L5P0eq4PmR9yTZCpPLy6Fc8ZC7kKMpe"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"creation_id\": \"{{ $json.id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2560,
        128
      ],
      "id": "c338ed09-731c-4166-815c-244b40fbbae8",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 17,
              "triggerAtMinute": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        1520,
        128
      ],
      "id": "603cafbd-1649-4622-b395-1eedd150b3ef",
      "name": "Schedule Trigger2"
    },
    {
      "parameters": {
        "fileSelector": "C:/Users/nazar/.n8n-files/*.jpg",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1744,
        128
      ],
      "id": "6345eb0e-b70c-471f-a3d3-8c089dbffe81",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2384,
        128
      ],
      "id": "c79f489d-f94f-40ef-812d-2a63f846b403",
      "name": "Wait",
      "webhookId": "47fbf649-57d1-4fff-aa7d-8d23ff6ec57c"
    },
    {
      "parameters": {
        "operation": "uploadFile",
        "additionalFieldsFile": {}
      },
      "type": "n8n-nodes-cloudinary.cloudinary",
      "typeVersion": 1,
      "position": [
        1968,
        128
      ],
      "id": "4119f14d-28ed-49ee-a0ed-41f7f7e13e6f",
      "name": "Upload an asset from file data",
      "credentials": {
        "cloudinaryApi": {
          "id": "fVTtgs2BbhhVWaCl",
          "name": "Cloudinary account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "C:/Users/nazar/.n8n-files/*.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1744,
        -96
      ],
      "id": "8c9dceb4-caf1-4ae0-b1ee-0206b54b039f",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "uploadFile",
        "resource_type_file": "video",
        "additionalFieldsFile": {}
      },
      "type": "n8n-nodes-cloudinary.cloudinary",
      "typeVersion": 1,
      "position": [
        1968,
        -96
      ],
      "id": "bc7b1370-2918-4eba-98f4-67ddb6f64909",
      "name": "Upload an asset from file data1",
      "credentials": {
        "cloudinaryApi": {
          "id": "fVTtgs2BbhhVWaCl",
          "name": "Cloudinary account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/17841438391323438/media",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "EAAW9WZCTA6TgBRBqCbZCeWV2sOAmxRj5G2QbCXnLo2ZAHKeZBy8kLwRrGPEYMhA1ZC2X3ZBBLHbhXuZByoVQjSIbgL1Rs3f5VDilSXTfIMUULhjcZAZA93fgf78BO5dzMJnkyf7wF8GViE8fNLYURKeZAYe2Qkkvw9NKaFcZAPlfWNWBdDGQyZCpGEIqwvsJsqEw"
            },
            {
              "name": "media_type",
              "value": "STORIES"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_url\": \"{{ $json.secure_url }}\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2208,
        -96
      ],
      "id": "e90a1f93-bb2e-45ef-8a74-78324978fbe0",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/17841438391323438/media_publish",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "EAAW9WZCTA6TgBRBqCbZCeWV2sOAmxRj5G2QbCXnLo2ZAHKeZBy8kLwRrGPEYMhA1ZC2X3ZBBLHbhXuZByoVQjSIbgL1Rs3f5VDilSXTfIMUULhjcZAZA93fgf78BO5dzMJnkyf7wF8GViE8fNLYURKeZAYe2Qkkvw9NKaFcZAPlfWNWBdDGQyZCpGEIqwvsJsqEw"
            },
            {
              "name": "creation_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2560,
        -96
      ],
      "id": "fbd8ad4f-f886-4440-9314-b853a89d682d",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "amount": 120
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2384,
        -96
      ],
      "id": "496a8157-0dd6-46e0-ad3a-e04a27d894cc",
      "name": "Wait1",
      "webhookId": "47fbf649-57d1-4fff-aa7d-8d23ff6ec57c"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/17841438391323438/media",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "media_type",
              "value": "REELS"
            },
            {
              "name": "video_url",
              "value": "={{ $json.secure_url }}"
            },
            {
              "name": "caption",
              "value": "Condições de agora no praia dos Ingleses! 🌊🏄‍♂️\n#surf #surfing #surfbrasíl #praiadosingleses #inglesesmeio #floripa #florianopolis #ilhadamagia #surfview #waves #ondas #surfreport #previsãosurf #surfsc #santacatarina #surfphotography #surflife #tubarãofilms #braziliansorm #vidadesurfista #surfvideo #reelsurf"
            },
            {
              "name": "access_token",
              "value": "EAAW9WZCTA6TgBRBqCbZCeWV2sOAmxRj5G2QbCXnLo2ZAHKeZBy8kLwRrGPEYMhA1ZC2X3ZBBLHbhXuZByoVQjSIbgL1Rs3f5VDilSXTfIMUULhjcZAZA93fgf78BO5dzMJnkyf7wF8GViE8fNLYURKeZAYe2Qkkvw9NKaFcZAPlfWNWBdDGQyZCpGEIqwvsJsqEw"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2208,
        -320
      ],
      "id": "381b0b96-3b28-4a10-9eb3-25682063dc1b",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "amount": 120
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2384,
        -320
      ],
      "id": "0e56e12e-2994-4faa-b2b6-3e41d217f79e",
      "name": "Wait2",
      "webhookId": "47fbf649-57d1-4fff-aa7d-8d23ff6ec57c"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/17841438391323438/media_publish",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "EAAW9WZCTA6TgBRBqCbZCeWV2sOAmxRj5G2QbCXnLo2ZAHKeZBy8kLwRrGPEYMhA1ZC2X3ZBBLHbhXuZByoVQjSIbgL1Rs3f5VDilSXTfIMUULhjcZAZA93fgf78BO5dzMJnkyf7wF8GViE8fNLYURKeZAYe2Qkkvw9NKaFcZAPlfWNWBdDGQyZCpGEIqwvsJsqEw"
            },
            {
              "name": "creation_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2560,
        -320
      ],
      "id": "37cdee37-db7d-4933-b703-767e4c01fa77",
      "name": "HTTP Request7"
    },
    {
      "parameters": {
        "fileSelector": "C:/Users/nazar/.n8n-files/*.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1744,
        -320
      ],
      "id": "422dfd95-53e3-4f0b-98fd-767a28ec5c2f",
      "name": "Read/Write Files from Disk2"
    },
    {
      "parameters": {
        "operation": "uploadFile",
        "resource_type_file": "video",
        "additionalFieldsFile": {}
      },
      "type": "n8n-nodes-cloudinary.cloudinary",
      "typeVersion": 1,
      "position": [
        1968,
        -320
      ],
      "id": "5078ec64-f5e8-404b-aa55-40c746354f3a",
      "name": "Upload an asset from file data2",
      "credentials": {
        "cloudinaryApi": {
          "id": "fVTtgs2BbhhVWaCl",
          "name": "Cloudinary account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6,
              "triggerAtMinute": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        1520,
        -96
      ],
      "id": "d13c0d37-864f-4983-915b-591dcb1c5e78",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6,
              "triggerAtMinute": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        1520,
        -320
      ],
      "id": "57920082-f171-4ffa-8894-beb86f7c3b88",
      "name": "Schedule Trigger1"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger2": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Upload an asset from file data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload an asset from file data": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Upload an asset from file data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload an asset from file data1": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk2": {
      "main": [
        [
          {
            "node": "Upload an asset from file data2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload an asset from file data2": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "ad9e39d8-b897-4091-8e32-60345ffb2698",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d4d248054123efa277d4c316c93c8e0140c4954c2d2f9c136e6c9333ac3220e0"
  },
  "id": "SEKjCYEvjQLaV5Fg",
  "tags": []
}
